{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{% t ui.pagination_previous %}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{% t ui.pagination_previous %}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">{% t ui.pagination_next %}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{% t ui.pagination_next %}</a>
    {% endif %}
  </nav>
{% endif %}