{% assign words_per_minute = page.words_per_minute | default: site.words_per_minute | default: 200 %}

{% if post.read_time %}
  {% assign words = post.content | strip_html | number_of_words: "auto" %}
{% elsif page.read_time %}
  {% assign words = page.content | strip_html | number_of_words: "auto" %}
{% endif %}

{% if words < words_per_minute %}
  {% t ui.less_than %} 1 {% t ui.minute_read %}
{% elsif words == words_per_minute %}
  1 {% t ui.minute_read %}
{% else %}
  {{ words | divided_by:words_per_minute }} {% t ui.minute_read %}
{% endif %}
